
# PlanAhead Generated physical constraints 

NET "LED[0]" LOC = F12;
NET "LED[1]" LOC = E12;
NET "LED[2]" LOC = E11;
NET "LED[3]" LOC = F11;
NET "LED[4]" LOC = C11;
NET "LED[6]" LOC = E9;
NET "LED[7]" LOC = F9;
NET "LED[5]" LOC = D11;
NET "control[1]" LOC = L14;
NET "control[0]" LOC = L13;
NET "clk" LOC = C9;
NET "reset" LOC = H18;
NET "UD" LOC = N17;

# PlanAhead Generated IO constraints 

NET "LED[7]" DRIVE = 8;
NET "LED[6]" DRIVE = 8;
NET "LED[5]" DRIVE = 8;
NET "LED[4]" DRIVE = 8;
NET "LED[3]" DRIVE = 8;
NET "LED[2]" DRIVE = 8;
NET "LED[1]" DRIVE = 8;
NET "LED[0]" DRIVE = 8;
